In [1]:
#파일 다루기
#파일을 읽고 쓰는 프로그램은 파일 제어를 시스템 운영체계에 의존함
#발생되는 에러에 대해서 예외처리 필수
#시스템에서 에러가 발생하면 except 블록으로 점프하여 처리됨
#에러 발생 및 정상 실행 후 맨 마지막에 finally 블록을 실행

f = 0
try:
    f=open("LICENSE.txt","rt")
    while True:
        r = f.readline()
        if not r:
            break
        print(r)
except FileNotFoundError:  #예외처리(파일이 없을 때 실행된다.)
    print("파일 없음")
finally:               #마지막에 실행되어야하는 부분
    if(f): f.close()
    print("프로그램 끝")

파일 없음
프로그램 끝

In [40]:
#파일 쓰기
#100명의 점수를 임의로 만든 후 csv 형태 파일에 기록하는 예제
import random
f=0
f=open("score.txt","wt")
for i in range(100):
# 아래와 같은 형태를 만들기 위하여 str.format 함수를 사용할 수 있다.
#  one_person = "{0:s},{1:d},{2:d},{3:d}\n"
# .format("홍길동"+str(i), r.randrange(0,100), r.randrange(0,100),r.randrange(0,100))

    one_person = "홍길동"+str(i+1)+","+str(random.randrange(0,100))+","+str(random.randrange(0,100))+","+str(random.randrange(0,100))+"\n"

    f.write(one_person)
    print(one_person)
f.close()

홍길동1,94,75,57

홍길동2,6,68,45

홍길동3,39,14,13

홍길동4,69,49,29

홍길동5,24,9,60

홍길동6,53,29,74

홍길동7,76,11,5

홍길동8,17,60,42

홍길동9,5,29,33

홍길동10,6,41,53

홍길동11,86,1,50

홍길동12,89,66,30

홍길동13,6,75,38

홍길동14,25,68,21

홍길동15,68,19,58

홍길동16,85,69,49

홍길동17,4,63,89

홍길동18,65,3,94

홍길동19,59,24,2

홍길동20,12,86,78

홍길동21,60,23,18

홍길동22,94,8,31

홍길동23,72,41,83

홍길동24,82,34,82

홍길동25,99,19,44

홍길동26,57,7,83

홍길동27,1,21,29

홍길동28,96,5,45

홍길동29,41,90,75

홍길동30,19,28,32

홍길동31,92,77,89

홍길동32,13,59,19

홍길동33,8,30,86

홍길동34,23,56,70

홍길동35,76,83,92

홍길동36,66,45,36

홍길동37,96,13,32

홍길동38,39,33,24

홍길동39,67,56,10

홍길동40,47,65,39

홍길동41,25,54,65

홍길동42,54,27,7

홍길동43,51,18,35

홍길동44,76,57,59

홍길동45,31,80,81

홍길동46,92,84,67

홍길동47,64,76,57

홍길동48,37,88,91

홍길동49,83,64,49

홍길동50,43,39,41

홍길동51,35,51,83

홍길동52,18,75,22

홍길동53,20,94,44

홍길동54,2,89,85

홍길동55,69,55,41

홍길동56,87,69,77

홍길동57,8,67,10

홍길동58,57,76,12

홍길동59,82,49,89

홍길동60,0,97,8

홍길동61,20,92,99

홍길동62,58,38,95

홍길동63,11,1,17

홍길동64,58,87,63

홍길동65,32,90,91

홍길동66,84,95,6

홍길동67,83,32,93

홍길동68,82,28,51

홍길동69,87,77,2

홍길동70,52,75,11

홍길동71,48,48,20

홍길동72,48,39,73

홍길동73,87,21,1

홍길동74,59,43,66

홍길동75,27,36,62

홍길동76,22,22,87

홍길동77,65,46,55

홍길동78,7,34,34

홍길동79,78,25,49

홍길동80,34,77,56

홍길동81,24,16,1

홍길동82,25,81,26

홍길동83,22,52,26

홍길동84,42,47,77

홍길동85,39,28,34

홍길동86,13,61,49

홍길동87,6,95,9

홍길동88,42,40,50

홍길동89,49,26,8

홍길동90,85,67,79

홍길동91,71,99,18

홍길동92,58,46,42

홍길동93,59,20,64

홍길동94,84,4,66

홍길동95,94,97,74

홍길동96,9,9,24

홍길동97,69,30,12

홍길동98,47,3,20

홍길동99,17,18,71

홍길동100,35,67,84

In [43]:
#파일 읽기
#앞서 만든 csv 파일을 한 줄씩 읽어서 처리하는 예제

f=0
f=open("score.txt","rt")
while True:
    one_person = f.readline()
    if not one_person : break
    one_person = one_person.replace("\n","")
    item = one_person.split(",")
    print("="*15)
    print("이름: ",item[0])
    print("국어: ",item[1])
    print("영어: ",item[2])
    print("수학: ",item[3])
    print("="*15)
f.close()

===============
이름:  홍길동1
국어:  94
영어:  75
수학:  57
===============
===============
이름:  홍길동2
국어:  6
영어:  68
수학:  45
===============
===============
이름:  홍길동3
국어:  39
영어:  14
수학:  13
===============
===============
이름:  홍길동4
국어:  69
영어:  49
수학:  29
===============
===============
이름:  홍길동5
국어:  24
영어:  9
수학:  60
===============
===============
이름:  홍길동6
국어:  53
영어:  29
수학:  74
===============
===============
이름:  홍길동7
국어:  76
영어:  11
수학:  5
===============
===============
이름:  홍길동8
국어:  17
영어:  60
수학:  42
===============
===============
이름:  홍길동9
국어:  5
영어:  29
수학:  33
===============
===============
이름:  홍길동10
국어:  6
영어:  41
수학:  53
===============
===============
이름:  홍길동11
국어:  86
영어:  1
수학:  50
===============
===============
이름:  홍길동12
국어:  89
영어:  66
수학:  30
===============
===============
이름:  홍길동13
국어:  6
영어:  75
수학:  38
===============
===============
이름:  홍길동14
국어:  25
영어:  68
수학:  21
===============
===============
이름:  홍길동15
국어:  68
영어:  19
수학:  58
===============
===============
이름:  홍길동16
국어:  85
영어:  69
수학:  49
===============
===============
이름:  홍길동17
국어:  4
영어:  63
수학:  89
===============
===============
이름:  홍길동18
국어:  65
영어:  3
수학:  94
===============
===============
이름:  홍길동19
국어:  59
영어:  24
수학:  2
===============
===============
이름:  홍길동20
국어:  12
영어:  86
수학:  78
===============
===============
이름:  홍길동21
국어:  60
영어:  23
수학:  18
===============
===============
이름:  홍길동22
국어:  94
영어:  8
수학:  31
===============
===============
이름:  홍길동23
국어:  72
영어:  41
수학:  83
===============
===============
이름:  홍길동24
국어:  82
영어:  34
수학:  82
===============
===============
이름:  홍길동25
국어:  99
영어:  19
수학:  44
===============
===============
이름:  홍길동26
국어:  57
영어:  7
수학:  83
===============
===============
이름:  홍길동27
국어:  1
영어:  21
수학:  29
===============
===============
이름:  홍길동28
국어:  96
영어:  5
수학:  45
===============
===============
이름:  홍길동29
국어:  41
영어:  90
수학:  75
===============
===============
이름:  홍길동30
국어:  19
영어:  28
수학:  32
===============
===============
이름:  홍길동31
국어:  92
영어:  77
수학:  89
===============
===============
이름:  홍길동32
국어:  13
영어:  59
수학:  19
===============
===============
이름:  홍길동33
국어:  8
영어:  30
수학:  86
===============
===============
이름:  홍길동34
국어:  23
영어:  56
수학:  70
===============
===============
이름:  홍길동35
국어:  76
영어:  83
수학:  92
===============
===============
이름:  홍길동36
국어:  66
영어:  45
수학:  36
===============
===============
이름:  홍길동37
국어:  96
영어:  13
수학:  32
===============
===============
이름:  홍길동38
국어:  39
영어:  33
수학:  24
===============
===============
이름:  홍길동39
국어:  67
영어:  56
수학:  10
===============
===============
이름:  홍길동40
국어:  47
영어:  65
수학:  39
===============
===============
이름:  홍길동41
국어:  25
영어:  54
수학:  65
===============
===============
이름:  홍길동42
국어:  54
영어:  27
수학:  7
===============
===============
이름:  홍길동43
국어:  51
영어:  18
수학:  35
===============
===============
이름:  홍길동44
국어:  76
영어:  57
수학:  59
===============
===============
이름:  홍길동45
국어:  31
영어:  80
수학:  81
===============
===============
이름:  홍길동46
국어:  92
영어:  84
수학:  67
===============
===============
이름:  홍길동47
국어:  64
영어:  76
수학:  57
===============
===============
이름:  홍길동48
국어:  37
영어:  88
수학:  91
===============
===============
이름:  홍길동49
국어:  83
영어:  64
수학:  49
===============
===============
이름:  홍길동50
국어:  43
영어:  39
수학:  41
===============
===============
이름:  홍길동51
국어:  35
영어:  51
수학:  83
===============
===============
이름:  홍길동52
국어:  18
영어:  75
수학:  22
===============
===============
이름:  홍길동53
국어:  20
영어:  94
수학:  44
===============
===============
이름:  홍길동54
국어:  2
영어:  89
수학:  85
===============
===============
이름:  홍길동55
국어:  69
영어:  55
수학:  41
===============
===============
이름:  홍길동56
국어:  87
영어:  69
수학:  77
===============
===============
이름:  홍길동57
국어:  8
영어:  67
수학:  10
===============
===============
이름:  홍길동58
국어:  57
영어:  76
수학:  12
===============
===============
이름:  홍길동59
국어:  82
영어:  49
수학:  89
===============
===============
이름:  홍길동60
국어:  0
영어:  97
수학:  8
===============
===============
이름:  홍길동61
국어:  20
영어:  92
수학:  99
===============
===============
이름:  홍길동62
국어:  58
영어:  38
수학:  95
===============
===============
이름:  홍길동63
국어:  11
영어:  1
수학:  17
===============
===============
이름:  홍길동64
국어:  58
영어:  87
수학:  63
===============
===============
이름:  홍길동65
국어:  32
영어:  90
수학:  91
===============
===============
이름:  홍길동66
국어:  84
영어:  95
수학:  6
===============
===============
이름:  홍길동67
국어:  83
영어:  32
수학:  93
===============
===============
이름:  홍길동68
국어:  82
영어:  28
수학:  51
===============
===============
이름:  홍길동69
국어:  87
영어:  77
수학:  2
===============
===============
이름:  홍길동70
국어:  52
영어:  75
수학:  11
===============
===============
이름:  홍길동71
국어:  48
영어:  48
수학:  20
===============
===============
이름:  홍길동72
국어:  48
영어:  39
수학:  73
===============
===============
이름:  홍길동73
국어:  87
영어:  21
수학:  1
===============
===============
이름:  홍길동74
국어:  59
영어:  43
수학:  66
===============
===============
이름:  홍길동75
국어:  27
영어:  36
수학:  62
===============
===============
이름:  홍길동76
국어:  22
영어:  22
수학:  87
===============
===============
이름:  홍길동77
국어:  65
영어:  46
수학:  55
===============
===============
이름:  홍길동78
국어:  7
영어:  34
수학:  34
===============
===============
이름:  홍길동79
국어:  78
영어:  25
수학:  49
===============
===============
이름:  홍길동80
국어:  34
영어:  77
수학:  56
===============
===============
이름:  홍길동81
국어:  24
영어:  16
수학:  1
===============
===============
이름:  홍길동82
국어:  25
영어:  81
수학:  26
===============
===============
이름:  홍길동83
국어:  22
영어:  52
수학:  26
===============
===============
이름:  홍길동84
국어:  42
영어:  47
수학:  77
===============
===============
이름:  홍길동85
국어:  39
영어:  28
수학:  34
===============
===============
이름:  홍길동86
국어:  13
영어:  61
수학:  49
===============
===============
이름:  홍길동87
국어:  6
영어:  95
수학:  9
===============
===============
이름:  홍길동88
국어:  42
영어:  40
수학:  50
===============
===============
이름:  홍길동89
국어:  49
영어:  26
수학:  8
===============
===============
이름:  홍길동90
국어:  85
영어:  67
수학:  79
===============
===============
이름:  홍길동91
국어:  71
영어:  99
수학:  18
===============
===============
이름:  홍길동92
국어:  58
영어:  46
수학:  42
===============
===============
이름:  홍길동93
국어:  59
영어:  20
수학:  64
===============
===============
이름:  홍길동94
국어:  84
영어:  4
수학:  66
===============
===============
이름:  홍길동95
국어:  94
영어:  97
수학:  74
===============
===============
이름:  홍길동96
국어:  9
영어:  9
수학:  24
===============
===============
이름:  홍길동97
국어:  69
영어:  30
수학:  12
===============
===============
이름:  홍길동98
국어:  47
영어:  3
수학:  20
===============
===============
이름:  홍길동99
국어:  17
영어:  18
수학:  71
===============
===============
이름:  홍길동100
국어:  35
영어:  67
수학:  84
===============

In [4]:
#파이썬에서 sqlite3 사용
import sqlite3 as s

con = s.connect("examtable.db")
cursor = con.cursor()
cursor.execute("drop table Score;")   #테이블 삭제

In [6]:
con.commit()
#테이블 생성
cursor.execute("create table HeyTable(name TEXT,studentid INTEGER,kor INTEGER,eng INTEGER,mat INTEGER)")
con.commit()          #버퍼에 처리된 내용을 기록 commit
cursor.close()
con.close()

In [7]:
#데이터 삽입
import sqlite3 as s
con = s.connect("examtable.db")
cursor = con.cursor()
cursor.execute("insert into HeyTable (name, studentid, kor, eng,mat) values (\"나연\",20990001,95,100,95);")
cursor.execute("insert into HeyTable (name, studentid, kor, eng,mat) values (\"정연\",20990002,95,95,95);")
cursor.execute("insert into HeyTable (name, studentid, kor, eng,mat) values (\"모모\",20990003,100,100,100);")
cursor.execute("insert into HeyTable (name, studentid, kor, eng,mat) values (\"사나\",20990004,100,95,90);")
cursor.execute("insert into HeyTable (name, studentid, kor, eng,mat) values (\"지효\",20990005,80,100,70);")
cursor.execute("insert into HeyTable (name, studentid, kor, eng,mat) values (\"미나\",20990006,100,100,70);")
cursor.execute("insert into HeyTable (name, studentid, kor, eng,mat) values (\"다현\",20990007,70,70,70);")
cursor.execute("insert into HeyTable (name, studentid, kor, eng,mat) values (\"채영\",20990008,80,90,80);")
cursor.execute("insert into HeyTable (name, studentid, kor, eng,mat) values (\"쯔위\",20990009,60,100,80);")
con.commit()          #버퍼에 처리된 내용을 기록 commit
cursor.close()
con.close()

In [9]:
#데이터 선택
#select에 경우 fetch를 사용하여 데이터를 반복적으로 가져옴
import sqlite3 as s
con = s.connect("examtable.db")
cursor = con.cursor()

cursor.execute("select * from HeyTable")

one_rec = cursor.fetchall()         #해당 데이터 전부 가져옴

for field in one_rec :               #해당 데이터를 반복문을 통해 하나씩 처리
    kor=field[2]
    eng=field[3]
    mat=field[4]
    print("이름:%s 학번:%s 국어:%3d 영어:%3d 수학:%3d 총점:%3d 평균:%3d"%(
field[0],field[1],kor,eng,mat,kor+eng+mat,int((kor+eng+mat)/3)))
    
cursor.close()
con.close()

이름:나연 학번:20990001 국어: 95 영어:100 수학: 95 총점:290 평균: 96
이름:정연 학번:20990002 국어: 95 영어: 95 수학: 95 총점:285 평균: 95
이름:모모 학번:20990003 국어:100 영어:100 수학:100 총점:300 평균:100
이름:사나 학번:20990004 국어:100 영어: 95 수학: 90 총점:285 평균: 95
이름:지효 학번:20990005 국어: 80 영어:100 수학: 70 총점:250 평균: 83
이름:미나 학번:20990006 국어:100 영어:100 수학: 70 총점:270 평균: 90
이름:다현 학번:20990007 국어: 70 영어: 70 수학: 70 총점:210 평균: 70
이름:채영 학번:20990008 국어: 80 영어: 90 수학: 80 총점:250 평균: 83
이름:쯔위 학번:20990009 국어: 60 영어:100 수학: 80 총점:240 평균: 80